<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKmVs2_H_HF7CflvC_VmM-QwyRgGWzldY</string>
	<key>GCM_SENDER_ID</key>
	<string>332520538571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>be.HackDamon.BestAppEver</string>
	<key>PROJECT_ID</key>
	<string>bestappever-47608</string>
	<key>STORAGE_BUCKET</key>
	<string>bestappever-47608.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332520538571:ios:a269d49d196618c443364e</string>
	<key>DATABASE_URL</key>
	<string>https://bestappever-47608-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>